.weather {
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background: #c29ce4;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    gap: 10px;
    position: relative;
    width: 260px; 
}

.search-bar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    color: #626262;
    background-color: #ebfffc;
    font-size: 18px;
    width: 100%;
    padding: 10px 12px;

}

.search-bar button {
    position: absolute;
    right: 10px;   
    top: 50%;      
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.weather-icon {
    width: 150px;
    margin: 30px 0;
}

.temp {
    font-size: 80px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1;
}

.location {
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
}

.weather-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 25px;
    color: #ffffff;
    margin-top: 40px;
}

.weather-details .col {
    display: flex;
    font-size: 20px;
    align-items: flex-start;
    gap: 15px;
}

.weather-details .col img {
    width: 30px;
    margin-top: 10px;
}

.weather-details .col span {
    display: block;
    font-size: 16px;
}